h1{
    font-family: serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
html{
    background-color: black;
}
#moto-image{
    border: 5px solid white;
    width: 100%;
}
p{
    color: white;
    text-align: center;
    font-family: 'Kalam', cursive;
}
div{
    width: 50%;
    margin-left: 25%;    
}


